[2014-02-12 11:39] bernhardschaefer opened #1 "No annotation scores in web service response"
Hello,
I added AGDISTIS to the annotators in the BAT framework[1] by Cornolti et al.[2].
However, since AGDISTIS does not return a score for each annotation, the scored annotation problems cannot be evaluated.
Are there any plans on including annotation scores in the web service response, e.g. based on HITS scores?

[1] https://github.com/marcocor/bat-framework
[2] http://dl.acm.org/citation.cfm?i

[2014-06-14 15:24] renespeck opened #5 "Run your own webservice"
% mvn tomcat:run
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for org.aksw:AGDISTIS:jar:0.0.1-SNAPSHOT
[WARNING] 'build.plugins.plugin.version' for org.apache.maven.plugins:maven-compiler-plugin is missing. @ line 12, column 12
[WARNING] 'build.plugins.plugin.version' for org.apache.maven.plugins:maven-jar-plugin is missing.

[2014-07-26 17:26] #5 closed, assigned to nobody

[2014-07-28 10:21] mowenwert opened #6 "BUILD FAILURE of mvn tomcat:run"
[WARNING]
[WARNING] Some problems were encountered while building the effective model for org.aksw:AGDISTIS:war:0.0.1-SNAPSHOT
[WARNING] 'build.plugins.plugin.version' for org.apache.maven.plugins:maven-compiler-plugin is missing. @ line 12, column 12
[WARNING] 'build.plugins.plugin.version' for org.apache.maven.plugins:maven-jar-plugin is missing. @ line 51, column 12
[WARNING] 'build.plugins.plu

[2014-07-28 10:52] #6 closed, assigned to nobody

[2014-10-22 09:46] RicardoUsbeck opened #8 "Create a surface for a ranked list of URIs for surface forms"
As a user I not only want to see the URI that is most authoritative for a certain label but a ranked list of n possible URI candidates for labels.

It needs to be implemented as a webservice.

[2014-10-28 13:58] RicardoUsbeck opened #9 ""laparotomy" and "surgeon""
Hi Ricardo,

Just to mention there might be something wrong with AGDISTIS.

I tried a sentence with "laparotomy" and "surgeon" and it did not provide a disambiguation (I put both terms in square brackets).

Greetings,

Denis

[2014-11-24 17:35] cunger opened #10 "Influence of capitalization"
Capitalization seems to have a strong influence on whether an entity can be resolved or not. For example, `Leipzig` and `Germany` are resolved to the correct DBpedia resources, whereas the URL for `leipzig` and `germany` is `null`.

*Input:*

[code]

*Output:*

[code]

*Input:*

[code]

*Output:*

[code]

[2014-12-07 18:27] RicardoUsbeck opened #11 "First man in space"
...should lead to Yuri Gagarin. Check this!

[2015-06-25 06:13] lezakkaz opened #12 "localhost:8080 returns a Blank Page"
[code]
I'm not sure where is the problem, I would appreciate any help. Thank you.

Khiati Z. Abdel-ilah

[2015-06-25 07:12] RicardoUsbeck commented on #12
Hi,

the web server is running in normal mode, i.e., localhost:8080/AGDISTIS is a webservice which is waiting for a request. There is no HTML frontend.

Try to query the web interface via:
curl --data-urlencode "text='The <entity>University of Leipzig</entity> in <entity>Barack Obama</entity>.'" -d type='agdistis' http://localhost:8080/AGDISTIS

https://github.com/AKSW/AGDISTIS/wiki/2-Asking-the-w

[2015-06-25 08:20] lezakkaz commented on #12
Thanks a lot its working now.

this was my first request:
[code]
and the result was:
[code]
Thanks again :)

Khiati Z. Abdel-ilah

[2015-06-25 08:21] #12 closed

[2015-07-04 04:42] vishalpai opened #13 "Building my own index and surfaceform tsv file"
Hi,

I am looking at the below url (Running the web service)
https://github.com/AKSW/AGDISTIS/wiki/3-Running-the-webservice

In create your own index section, from where do I get the file for the property 'surfaceFormTSV'.

Best Regards,
Vishal

[2015-07-04 05:40] lezakkaz commented on #13
Hey there,

Im just a researcher, you should email uzbec he is the guy who can help. I tried to download that file as well but it didnt work for me.
If youre working on AGDISTIS then please keep in touch so we can share information. 

Regards,
Zakaria

<div>-------- Original message --------</div><div>From: vishalpai <notifications@github.com> </div><div>Date:2015/07/04  1:42 PM  (GMT+09:00) </div

[2015-07-06 08:12] RicardoUsbeck commented on #13
Hi all, @lezakkaz,

I updated https://github.com/AKSW/AGDISTIS/wiki/3-Running-the-webservice

Surface forms are available here: http://139.18.2.164/rusbeck/agdistis/surfaceforms/

Or you create your own using http://aksw.org/Projects/BOA.html

Please let me know if you encounter anymore problems.

Furthermore, if you do not mind, let me know on which projects you are working on. This would help my

[2016-07-21 08:51] DiegoMoussallem commented on #11
it is Yuri Gagarin.

curl --data-urlencode "text='<entity>First man in space</entity>" -d type='agdistis' http://139.18.2.164:8080/AGDISTIS

[2016-07-21 08:51] #11 closed

[2016-07-21 09:05] DiegoMoussallem commented on #9
If you put with capital letter it works. thus it is related to https://github.com/AKSW/AGDISTIS/issues/10

[2016-07-21 13:34] RicardoUsbeck opened #14 "Additionally API for returning all candidates with scores"
Per request from users we want to have an additional API for returning all candidates per pre-selected mention and their scores. For example, we can then do precision@k evaluations.

[2016-08-03 09:02] #10 closed

[2016-08-03 09:02] #9 closed

[2016-08-03 16:51] RicardoUsbeck commented on #10
Solved by https://github.com/AKSW/AGDISTIS/commit/76454278445bb9fd1b13536e429b1be5f33dfc2b

[2016-08-03 16:51] RicardoUsbeck commented on #9
solved by https://github.com/AKSW/AGDISTIS/commit/76454278445bb9fd1b13536e429b1be5f33dfc2b

[2016-09-29 06:16] RicardoUsbeck commented on #13
I close this issue for now. Thanks for using AGDISTIS!

[2016-09-29 06:16] #13 closed

[2016-09-29 06:18] RicardoUsbeck commented on #1
I close this issue for now. Thanks for using AGDISTIS! Please let us know if there is anything else we can do. Moreover, just as a general pointer, there is GERBIL (https://gerbil.aksw.org) for further evaluations.

[2016-09-29 06:18] #1 closed

[2016-10-09 15:21] RicardoUsbeck commented on #14
Duplicate #8

[2016-10-09 15:21] #14 closed

[2016-10-11 11:12] suryahub opened #17 "Disambiguated URL is null"
Cloned the following project from github
https://github.com/AKSW/AGDISTIS and made configurations according to the following link

https://github.com/AKSW/AGDISTIS/wiki/3-Running-the-webservice

When tried to run the code used in AGIDISTISTest  for the following Preannotated Text,disambiguated URLs are null.
Text
<entity>Barack Obama</entity> visits <entity>Merkel</entity> in <entity>Berlin</entit

[2016-10-12 08:37] RicardoUsbeck commented on #17
Dear @suryahub,

we are looking into that. Can you check out an earlier version. That is,

`git checkout 690557b912f5ceec35ac992716c7a91dfa59b7d0`

and run your test again?

[2016-10-12 19:58] RicardoUsbeck commented on #17
We will make the latest master commit stable again. Meanwhile, I will close the ticket.

[2016-10-12 19:58] #17 closed

[2016-10-13 15:05] DiegoMoussallem commented on #17
It is working again. @suryahub, you have to set the threshold 0.85, since we are using type reduction and it provides us more candidates than the usual around 10 times more. Also, I fixed a node.java class then i would like to ask you to pull again the project and check it.

[2016-10-14 09:27] suryahub opened #18 "Semantic Analysis using AGDISTIS"
Hi,
 I need to semantically analyse the following sentences
1. Adams is a famous singer
2. Adams is a famous Chess player
   When i input sentence 1. Adams should give dbpedia urls corresponding to Bryan Adams the famous singer and when sentence 2 is inputted Adams should give urls corresponding Michael Adams the famous Chess player.Is it possible to achieve such a usecase with AGDISTIS?Are there

[2016-10-14 09:43] D063520 commented on #18
Hi,

so as far as I know there is no tool doing that. The problem is that Adam is highly ambiguous. In the english DBpedia there are 983 persons whos surname is Adam. Generally a tools expands the words with all possible meenings and then tries to find the right one. But I'm not aware of a tool expanding so much, i.e. if the sentence contains "Elisabeth" take into consideration all persons called

[2016-10-14 13:58] DiegoMoussallem commented on #8
@RicardoUsbeck please check https://github.com/AKSW/AGDISTIS/tree/candidates and tell me if it was what you would want.

[2016-10-14 14:19] DiegoMoussallem commented on #18
As @D063520 said, the both sentences are very ambiguous. We intend to be able to tackle it in the new version of AGDISTIS.  But, AGDISTIS doesn't provide it to you nowadays.

[2016-10-14 14:22] RicardoUsbeck commented on #8
This is also relevant for #14

[2016-10-14 14:26] RicardoUsbeck commented on #8
@filipdbrsk

[2016-10-14 14:28] RicardoUsbeck commented on #18
Dear all,

indeed, AGDISTIS cannot solve that currently. @DiegoMoussallem is working on an extension based on contextual text similarity to improve this. Stay tuned for updates which hopefully will come very soon.

Best
Ricardo

[2016-10-15 13:20] suryahub opened #19 "How to work with plain text input in AGDISTIS"
Hi,
   In the AGDISTIS sample code a preannoated text is given as input with the entities embedded inside entity Tags.Is there an option to give a plain text as input to AGDISTIS which automatically recognises entities and then do the disambiguation?I have heard about FOX.If the same can be done using FOX how do I integrate FOX with AGDISTIS?

Regards
suryahub

[2016-10-15 13:34] suryahub opened #20 "Converting Natural Language to Database Queries"
Hi,
Is there an option to integrate a database (SQL or NOSQL)with AGDISTIS and convert the natural language statements to database queries?
Eg:
    "invoices paid last year"
which inteprets the above sentence convert it to corresponding database queries and fetches the results from the database.
I found a similar usecase with dbpedia spotlight to convert natural language to SPARQL queries
https://

[2016-10-15 14:56] RicardoUsbeck commented on #19
Please visit http://fox-demo.aksw.org/ or go to https://github.com/AKSW/fox which is maintained by @renespeck to use FOX as recognizer. Currently, FOX uses AGDISTIS also as disambiguation system.

[2016-10-15 14:59] RicardoUsbeck commented on #20
Hi,

AGDISTIS is just a knowledge base-agnostic named entity disambiguation engine. If you are looking for a natural language to SPARQL/SQL project please lookup "Question Answering systems" such as github.com/AKSW/NLIWOD, https://github.com/AKSW/openqa or join the community group https://www.w3.org/community/nli/.

[2016-10-20 09:28] DiegoMoussallem opened #21 "Word2Vec"
talk to Michael Hoff. about how to compute it through many candidates

[2016-10-20 09:57] #21 closed

[2016-11-14 16:14] RicardoUsbeck opened #23 "Remove unused dependencies from pom.xml to make build faster"
Use  mvn dependency:analyze to analyze the pom and make the build smaller.

[2016-11-14 16:25] RicardoUsbeck commented on #23
remove also unused dependencies

[2016-11-16 16:34] #20 closed

[2016-11-16 16:34] #19 closed

[2016-11-16 16:34] #18 closed

[2016-11-28 13:20] DiegoMoussallem opened #24 "aggregate context values."
To decide which kind of approach to use for getting a context.

[2016-11-28 13:26] DiegoMoussallem opened #25 "Graph Learning and Page Rank algorithm."

[2016-11-28 13:27] DiegoMoussallem opened #26 "Glove Similarity or Word2vec Implementation."
To figure out which one is more appropriated for entity liking.

[2016-11-28 13:28] DiegoMoussallem opened #27 "To fix co-reference made by heuristic expansion."

[2016-11-28 13:28] DiegoMoussallem opened #28 "make disambiguation of properties, classes and entities possible."

[2016-11-28 13:29] DiegoMoussallem opened #29 "Paragraph wise implementation."
Currently, AGDISTIS Is not able to deal with dense subgraphs from large texts.

[2016-11-28 13:33] DiegoMoussallem opened #30 "Create a German, Chinese and English index."
start three new dockers (one per language) and add a new demo docker for each one.

[2016-11-28 13:34] DiegoMoussallem opened #31 "try boosting candidates which appear together to force dense subgraphs"

[2016-12-06 09:12] DiegoMoussallem opened #32 "Merge branches"
Merge branches creating them as a parameter.

[2016-12-15 09:54] DiegoMoussallem commented on #30
Chinese repositories haven't contained enough source files(disambiguations.ttl, redirects.ttl) since 2014. Therefore, Chinese index wasn't created.

[2016-12-15 13:18] DiegoMoussallem commented on #32
@RicardoUsbeck please check https://github.com/AKSW/AGDISTIS/tree/mergeT

[2016-12-16 09:47] DiegoMoussallem commented on #30
@RicardoUsbeck, they are here -> http://139.18.2.164/dmoussallem/. Can I close this issue?

[2016-12-16 09:54] #27 closed

[2016-12-16 09:54] DiegoMoussallem commented on #23
done.

[2016-12-16 09:54] #23 closed

[2016-12-16 09:55] DiegoMoussallem commented on #8
Could we close it? @RicardoUsbeck

[2016-12-16 09:58] RicardoUsbeck commented on #8
Could you paste the curl command for it here and then close it? @filipdbrsk I hope this is what you want?

[2016-12-16 10:19] RicardoUsbeck commented on #30
Could you please go through the wiki and the README and search for the old location? Then you can close this issue.

[2017-01-10 17:35] DiegoMoussallem commented on #32
Now the bug was fixed, so could you check again the branch @RicardoUsbeck

[2017-01-10 17:37] DiegoMoussallem commented on #26
It makes AGDISTIS supervised and our goal is to maintain it agnostic.

[2017-01-10 17:37] #26 closed

[2017-01-10 17:39] DiegoMoussallem commented on #24
Done. it is done by counting how many links exists between the entities also AGDISTIS uses ITF DF ( term frequency–inverse document frequency over the knowledge base.

[2017-01-10 17:39] #24 closed

[2017-01-10 17:55] DiegoMoussallem commented on #25
PageRank done.

[2017-01-12 09:12] #30 closed

[2017-01-12 15:36] Phauly1 opened #33 "Build Failure with new 2016 index"
Hi,

I have cloned the repository and tried to compile AGDISTIS in conjunction with the newly released 2016 index. So, while running `mvn clean install` the `testUmlaute` method failed. If I try it with the old 2014 index, everything will compile just fine and all the tests are passed.

-------------------------------------------------------
 T E S T S
---------------------------------------------

[2017-01-12 15:40] DiegoMoussallem commented on #33
yes, please use the mergeT branch and tell me if it is working.

[2017-01-12 15:48] DiegoMoussallem commented on #33
@Phauly1, btw, http://dbpedia.org/resource/Masaaki_Ōsumi doesn't exist in 2016-04, so you can ignore this test from 2016 index.

[2017-01-12 19:24] Phauly1 commented on #33
It is working now after switching to the mergeT branch and changing the index path in the agdistis.property file. Thank you!

When is the new version of AGDISTIS expected to be released?

[2017-01-13 12:22] DiegoMoussallem commented on #33
@Phauly1, we are aiming to do it in the end of February.

[2017-01-13 12:22] #33 closed

[2017-01-14 14:59] DiegoMoussallem commented on #8
curl --data-urlencode "text=Today, <entity>Barack Obama</entity> visited <entity>Berlin</entity> and met <entity>John Doe</entity>." -d type='candidates' http://localhost:8080/AGDISTIS/NED using mergeT branch.

[2017-01-14 14:59] #8 closed

[2017-01-14 14:59] DiegoMoussallem commented on #25
not effective.

[2017-01-14 14:59] #25 closed

[2017-01-14 18:06] #32 closed

[2017-01-20 17:45] Phauly1 opened #35 "Strange behaviour with properties files"
Sorry in advance, if this question is too java-specific for the issues tracker. But I am having problems with the provided properties file.

I want to use AGDISTIS as a dependency in my Maven project, so I have added AGDISTIS as a JAR file in my local maven repository. In order to make the properties file still accessible, I relocated it in my classpath under `/my-program/src/main/resources/agdist

[2017-01-20 17:48] RicardoUsbeck commented on #35
Hi, the question fits fine here and we are glad to help. From which branch are you using it?

[2017-01-20 17:56] Phauly1 commented on #35
Glad to hear that. I am currently using the mergeT branch.

[2017-01-20 18:07] DiegoMoussallem commented on #35
Hey @Phauly1, I think that you are doing everything right. The stranger behavior comes from this line https://github.com/AKSW/AGDISTIS/blob/mergeT/src/main/java/org/aksw/agdistis/webapp/GetDisambiguation.java#L83

Please, trying to comment it and tell me whether it works.

[2017-01-20 18:11] RicardoUsbeck commented on #35
Another thing to check is, how are you building and using the jar from your project? If you do it via mvn install and a pom, please try to delete if from ~/.m2/repositories and reinstall it

[2017-01-20 21:27] Phauly1 commented on #35
Thanks for your suggestions so far!

@DiegoMoussallem I have commented out this line, but nothing changed.

@RicardoUsbeck The JAR of my main program is built via `mvn install` and a pom file, yes. I have deleted everything in .m2 and installed it from scratch, but it also does not solve the problem.

But I made a new discovery:

I downloaded a new and untouched AGDISTIS version from mergeT and ju

[2017-01-23 09:16] RicardoUsbeck commented on #35
I have never seen that behaviour before. Can you debug what's happening with Eclipse?

[2017-01-23 09:22] RicardoUsbeck commented on #35
Hmm maybe related to http://stackoverflow.com/questions/34131991/properties-file-reads-old-data-when-jar-is-executed-from-command-line ?

[2017-01-23 19:50] Phauly1 commented on #35
I have repeated the whole procedure and installed everything again. I really do not know what the problem was, but now I am able to configure AGDISTIS out of my own resource folder. Thank you very much for your help!

[2017-01-23 19:50] #35 closed

[2017-01-25 16:20] Phauly1 opened #36 "AGDISTIS fails with own index"
Hi everyone,

right now I am trying to get AGDISTIS to work with an index different from dbpedia. For test purposes, I have created a tiny custom index and run AGDISTIS on it. But it does not return a proper URI of the disambiguated entity. It just returns the text/label of the entity instead.

My approach so far:

- Create three files: `labels_en.ttl`, `instance_types_en.ttl` and `en_surface_form

[2017-01-25 16:27] RicardoUsbeck commented on #36
Hi, thanks for pen-testing our algorithm. First, I miss an ontologies file. AGDISTIS needs to construct a graph, i.e. you must have triples of the form (URI, predicate, URI), e.g. mappingbased_objects.ttl from DBpedia. Second, I will try out your code and see, why it is returning a string and not a URI. Third, you should be able to extend the index but we might need to adapt it to write on an exis

[2017-01-25 18:42] Phauly1 commented on #36
Thanks for your reply, @RicardoUsbeck .

Could you kindly explain what ontologies file you mean? What contents does it need to have?
Generally, what are the minimum required files and triples respectively to get a custom index up an running? I am completely new to the semantic web science, so please forgive my lack of knowledge.

I created a mappingbased_properties_en.ttl file like in the 2014 dbp

[2017-01-27 10:00] Phauly1 commented on #36
I have made a new observation.

I switched back to the default DBpedia 2016 index, but forgot to change my AGDISTIS properties file. So the entries for `nodeType`, `edgeType` and `baseURI` still were `http://example.com/resource/` etc. instead of `http://dbpedia.org/resource/` and so on.

With these wrong properties, I get the same error as before - the returned URI is just the label/name string o

[2017-01-27 10:42] RicardoUsbeck commented on #36
I will take a look at your data today or Monday. Could you please upload you example files?

[2017-01-27 10:58] Phauly1 commented on #36
Sure, you will find them here: https://drive.google.com/drive/folders/0BycW_RxvAHdzZkhmS19vTGdFT1k?usp=sharing

The provided properties file is from my second test.

Thank you very much for your time!

[2017-01-27 14:40] DiegoMoussallem commented on #29
http://cs.stanford.edu/~quocle/paragraph_vector.pdf

[2017-01-27 14:45] DiegoMoussallem opened #37 "Make it better in Tweets"
http://knoesis.org/sites/default/files/IEL_ESWC.pdf

[2017-01-27 14:56] DiegoMoussallem commented on #37
http://jplu.github.io/publications/van_Erp_Plu-NEEL2016.pdf

[2017-01-27 15:35] DiegoMoussallem opened #38 "Improve coreference"
Hint: https://arxiv.org/pdf/1603.04553.pdf

[2017-02-02 11:11] Phauly1 commented on #36
Hi @RicardoUsbeck ,

I really do not want to rush you, but have you already looked at the data or the problem, respectively?

[2017-02-03 11:02] DiegoMoussallem commented on #36
@Phauly1, @RicardoUsbeck is dealing with other things regarding AGDISTIS. So, I'm here to help you.  The problem was once AGDISTIS provides a list for avoiding bad URIs or for filtering named entities instead of collection common entities, you forgot to include the types inside whileList. You have two options or you comment the respective line inside CandidateUtil.java(line 152) or you include the

[2017-02-03 17:48] Phauly1 commented on #36
Hi @DiegoMoussallem ,

I have added the two new instance types to the whiteList.txt and your test method is working. That is awesome, thank you!

But I have a few other related questions and it would be great if you can answer them.

1. Do I have to strictly follow the DBpedia conventions when creating a new index? So, do I need all the .ttl files like `disambiguations.ttl`, `redirects_transitive_

[2017-02-03 18:08] DiegoMoussallem commented on #36
@Phauly1 nice you have tried and it has worked with you!

1 - It is not exactly the DBpedia's convention, it is structured data and graphs. redirects_transitive_en.ttl and disambiguation are important. For instance, disambiguation file allows dealing with a very ambiguity mentions like "German" http://dbpedia.org/page/German. So AGDISTIS can go through all entities and say which one is the correct

[2017-02-03 19:53] RicardoUsbeck commented on #36
Thanks for the solution Diego.

@Phauly1 For 1) the main important thing is that it is a well structured graph and you have enough surface forms, i.e. rdfs:label properties for each entity. For 2) additionally to the suggestion by Diego, you could implement and test a method to include new triples at runtime. However, I am not available until March for such implementations. Feel free to do so and

[2017-02-03 20:20] Phauly1 commented on #36
Thank you for your answers. That helps me a lot.

For now, I will try the following:

I am going to use the standard DBpedia index as it is. Then I will create a second custom index with my own ontology and try to use both in parallel. And if there are new entities found by CoreNLP, they will be added to the custom index.

In that way, AGDISTIS should disambiguate on two different indexes and only

[2017-02-04 11:38] DiegoMoussallem commented on #36
Hi @Phauly1, I meant you have to create in the agdistis.property file another line pointing to the new index directory. Also, to create another TripleIndex.java unless you maintain the same structure of DBpedia Index, it is not necessary.

[2017-02-13 13:34] #36 closed

[2017-02-13 13:35] DiegoMoussallem commented on #31
done.

[2017-02-13 13:35] #31 closed

[2017-02-13 13:46] DiegoMoussallem commented on #28
No NED Benchmarking systems are able to evaluate using property URI for a while. So, I will close this issue.

[2017-02-13 13:46] #28 closed

[2017-03-07 08:52] DiegoMoussallem opened #40 "Loading memory problem between ubuntu and MacOS"
the relative path can not be loaded according to real path.

[2017-03-08 09:22] RicardoUsbeck opened #41 "Ubuntu Linux on an AWS EC2 instance works but Mac not"
Steps to replicate problem:

Cloned https://github.com/AKSW/AGDISTIS (master branch)
Downloaded English index files:
2014: http://titan.informatik.uni-leipzig.de/rusbeck/agdistis/en/indexdbpedia_en_2014.7z
2016: wget http://titan.informatik.uni-leipzig.de/dmoussallem/dbpedia_index/en/indexdbpedia_en_2016.zip

Set config file src/main/resources/config/agdistis.properties so the 'index' property poi

[2017-03-16 17:20] DiegoMoussallem commented on #41
@RicardoUsbeck, please ask them to try again.

[2017-03-16 17:20] DiegoMoussallem commented on #40
fixed

[2017-03-16 17:20] #40 closed

[2017-03-19 11:28] DiegoMoussallem opened #42 "Check AGDISTIS on domain specific datasets."
http://www.aclweb.org/website/old_anthology/D/D15/D15-1081.pdf

[2017-03-23 09:53] DiegoMoussallem commented on #41
Fixed.

[2017-03-23 09:53] #41 closed

[2017-03-23 09:53] DiegoMoussallem commented on #29
Don't need actually. AGDISTIS is able to run over large documents

[2017-03-23 09:53] #29 closed

[2017-03-23 10:38] yamalight opened #43 "Use goss for docker image testing"
Switch to using [goss](https://github.com/aelsabbahy/goss) for [testing](https://medium.com/@aelsabbahy/tutorial-how-to-test-your-docker-image-in-half-a-second-bbd13e06a4a9#.5i10ydbmi) built docker image. Would work better than curl.

[2017-04-04 13:21] Khalife opened #44 "[400 Error] Python and CURL requests"
Good afternoon everyone,

I am a new user and it seems that the API does not work when called from the official package agdistispy (400 error).

Also, the following request provides ERR_INVALID_URL :
curl --data-urlencode "text='<entity>Barack Obama</entity> arrives in <entity>Washington, D.C</entity>.'" -d type='agdistis' http://139.18.2.164:8080/AGDISTIS

I am located in France, but the API used

[2017-04-04 17:12] RicardoUsbeck commented on #44
Dear Sammy,

can you try this where I marked an entity. Please note, you need to mark entities before disambiguating them with other tools such as AKSW/FOX.

curl --data-urlencode "text='Barack Obama arrives in <entity>Washington, D.C.</entity>'" -d type='agdistis' http://139.18.2.164:8080/AGDISTIS

[2017-04-05 08:38] Khalife commented on #44
Dear Ricardo,

Thanks for your answer. I suppose you meant :

curl --data-urlencode "text='<entity>Barack Obama</entity> arrives in Washington, D.C.'" -d type='agdistis' http://139.18.2.164:8080/AGDISTIS

This one returns something without error now.
Have you fixed something in the server side?

Thanks again.

PS : I sent you a mail with more detailed questions. If for any reason you prefer me to

[2017-04-05 10:32] RicardoUsbeck commented on #44
Hi,

I will have a look at your email alter today (sorry it is quite busy right now here).

I corrected the example above, now there are entity markings. No, we did not correct anything. Maybe it was an error in our computing center network.

[2017-04-13 16:03] DiegoMoussallem commented on #44
Could I close this issue? @Khalife

[2017-04-19 10:01] Khalife commented on #44
Thanks Ricardo for your answer.
@DiegoMoussallem I close the issue.

[2017-04-19 10:02] #44 closed

[2017-08-24 09:14] renespeck opened #45 "Links to things"
Agdistis links `Mcnabb Inc` to `dbr:McNabb` that is of type `Thing` in DBpedia.

[2017-08-24 10:53] DiegoMoussallem commented on #45
I'll have a look on this problem. As a way to alleviate this problem, you can set the agidists.properties file for only accepting Named Entity (Person, Org and Location) instead of accepting common types. Could you see if it alleviates for a while?

[2017-08-24 15:29] renespeck commented on #45
Ohh, nice. Could you tell me the `key` I have to use for the `values` of the Named Entity Types in the agidists.properties please?

[2017-08-25 13:33] DiegoMoussallem commented on #45
#Enable to find common entities
commonEntities=false

false for finding only Named Entities and true for finding every kind of them

[2017-08-25 14:54] renespeck commented on #45
Ahh thanks. :+1:

[2017-09-04 08:42] renespeck commented on #45
Hi, changing 'commonEntities' value to 'true'  had no influence of the linking.

Agdistis still links `Mcnabb Inc` to `dbr:McNabb`.

[2017-09-04 08:45] DiegoMoussallem commented on #45
Could you write the sentence here? and I will find the bug/problem. :)

[2017-09-04 10:39] renespeck commented on #45
`Jim Mcnabb Inc is in the Outdoor Advertising Services industry in Taylor, TX. This company currently has approximately 5 to 10 employees and annual sales of $1,000,000 to $4,999,999.`

[2017-09-04 11:42] DiegoMoussallem commented on #45
Our corporation affixes list comprises of
'corp
Corp
ltd
Ltd
inc
Inc
co
Co'

So, AGDISTIS cleans the label using these affixes, Mcnabb Inc becomes only Mcnabb, however this label is quite generic where our filter of disambiguation pages does not work. I assume it is a bug and I will have a look into more details. I come to you as soon as possible.

[2017-09-25 07:53] RicardoUsbeck opened #46 "Minimal Ontology Example not working"
Given the knowledge base below:

[code]

AGDISTIS should be to disambiguate the following sentence '<entity>Evertec</entity> is a company in <entity>Puerto Rico</entity>.'

Currently it returns the "don't know" links for both entities.

Please write a unit test for it.

[2017-09-25 07:59] RicardoUsbeck opened #47 "German DBpedia 2016-10"
Using the following sentence:
`<entity>Angela Merkel</entity> was in <entity>Germany</entity>`
[code]

Please fix that and write a unit test for it.

[2017-09-25 07:59] RicardoUsbeck opened #48 "Join Forks"
Analyse and check all forks, e.g. https://github.com/meltwater/AGDISTIS for improvements and join there code back to the master.

[2017-09-25 08:00] RicardoUsbeck opened #49 "Run without context index"
Make the master run also without context index.

[2017-09-25 08:02] RicardoUsbeck opened #50 "Clean up docu after webservice moved"
1) move public directories from titan to hobbit data https://wiki.aksw.org/private/infrastructure/dataset/publishing

2) make sure that there are no links to 139.164.18.164 or http://titan.informatik.uni-leipzig.de/ in the wiki or at aksw.org. Start a google search for it

3) But a thick red banner on the project website at aksw.org and github, that the webservices moved

[2017-09-25 08:03] RicardoUsbeck opened #51 "Wikidata"
Create an index for disambiguation to wikidata en

[2017-10-04 05:37] RicardoUsbeck opened #52 "Environment variables instead of properties"
I followed the "running with docker" instructions on the following wiki page:
https://github.com/dice-group/AGDISTIS/wiki/3-Running-the-webservice

I downloaded and unpacked the following German DBPedia file:
dbpedia_index_2016-04/de/indexdbpedia_de_2016.zip
and renamed the folder to "index".

I then ran the following commands:
[code]

When I query the webservice using the following command:
`curl

[2017-10-04 07:45] yamalight commented on #52
@RicardoUsbeck will try to reproduce this today

[2017-10-04 08:25] yamalight commented on #52
@RicardoUsbeck ok, could reproduce it easily. As far as I see, docker container works fine and loads  the index. And since english index works just fine - maybe german the index is broken?

[2017-10-05 14:00] DiegoMoussallem commented on #45
Hi @renespeck ,

Apologizes for this late response, I figured out the bug. It has happened because of redirect's method was skipping the verification of disambiguation's page. Therefore, when AGDISTIS was receiving ''McNabb Inc'', it was removing ''dbr:McNabb'', however, dbr:Mcnabb was also a candidate which has been redirecting to ''dbr:McNabb'' then resulting in that mistake. I fixed this little

[2017-10-05 15:22] DiegoMoussallem commented on #46
It worked from my side, however, we have to make AGDISTIS handle more than node type in the KB. I have alleviated this problem by commenting the line 225 in CandidateUtil.java, but I'm absolutely sure that it will not work for complex graphs when performing HITS or PageRank.

[2017-10-05 15:34] DiegoMoussallem commented on #52
Hi,
the point is that when you run `docker pull aksw/agdistis`, the container considers the pre-defined agdistis.properties which means when you change the KB, you have to change the agdistis.properties file as well. In the respective fields below:
Pre-defined:
`nodeType=http://dbpedia.org/resource/`
`edgeType=http://dbpedia.org/ontology/`
`baseURI =http://dbpedia.org`
new KB:
`nodeType=http://de.

[2017-10-05 15:36] yamalight commented on #52
@DiegoMoussallem can you change it so that those vars are read from environment variables? (and if those are not set - fall back to properties file)

[2017-10-05 15:40] DiegoMoussallem commented on #52
@yamalight I intend to do it because it is also related to the challenge of dealing with more than one nodeType. But, I have to think how it will affect the performance of graph-based algorithms.

[2017-10-05 15:41] yamalight commented on #52
@DiegoMoussallem why would that affect performance in any way? it's not that different to reading those values from file 🤔

[2017-10-05 15:48] DiegoMoussallem commented on #52
Because we boost those algorithms using the node and edge types. Also, there are other variables, like context, acronyms, threshold, commonEntities, endpoint, coreference which can vary significantly. I'm not sure how feasible it would be if we put everything as variables in terms of running. If you have any idea just tell me :)

[2017-10-05 15:49] DiegoMoussallem commented on #52
I think I got what you meant, was it to insert the values once it is running?

[2017-10-05 15:50] yamalight commented on #52
@DiegoMoussallem yes, instead of reading from file just use e.g. `System.getenv("AGDISTIS_NODE_TYPE")`

[2017-10-05 15:51] DiegoMoussallem commented on #52
I got that, sorry, I got confused with another term. Would it be better for running a docker?

[2017-10-05 15:53] yamalight commented on #52
@DiegoMoussallem yep. then you can basically provide those vars on container start, which'd make configuration much simpler

[2017-10-05 15:55] DiegoMoussallem commented on #52
Perfect, I'm gonna provide it, but first I'll think about the usage of more than node and edge types. I then improve everything.

[2017-10-05 15:57] DiegoMoussallem commented on #49
Just to set `context=fase` in agdistis.properties file. Could you close it?

[2017-10-05 16:09] DiegoMoussallem commented on #52
@RicardoUsbeck Could you meanwhile create your own docker image? -> https://github.com/dice-group/AGDISTIS/wiki/3-Running-the-webservice#create-your-own-docker-image

[2017-10-05 16:29] RicardoUsbeck commented on #49
Need to test it first, consider it staging and leave it open

[2017-10-05 16:35] DiegoMoussallem commented on #49
@RicardoUsbeck Ah OK. In case you want to have a look. I have done a test in https://github.com/dice-group/AGDISTIS/blob/master/src/test/java/AGDISTISTest.java#L83
If you disable context i.e., `context=false` the test will fail which means that works without context, but if you enable i.e., `context=true` it will pass.

[2017-10-05 17:20] RicardoUsbeck commented on #46
Unit test or it did not happen :) And commenting is not a good solution since there might be other cases where we need that line. So we should keep that issue open

[2017-10-05 17:26] RicardoUsbeck commented on #52
It is not for me, but for a colleague. That means, we should first fix it for one node type and close this issue. Than open another issue for multiple node types.

[2017-10-05 17:26] RicardoUsbeck opened #53 "Handling entities with punctuations"
When I run a Chinese webservice using Java and query it I get:

`curl --data-urlencode "text='<entity>???</entity>.'" -d type='agdistis' http://localhost:8080/AGDISTIS
`
I get:

`[{"disambiguatedURL":"http:\/\/aksw.org\/notInWiki\/???","offset":3,"namedEntity":"???","start":1}]
`
And in the terminal window where the webservice is running I see an error:

[code]

[2017-10-05 18:31] DiegoMoussallem commented on #52
@yamalight @RicardoUsbeck I was wondering if there is a better solution than reading from environment variables. Because the user will have to insert the values all the time when he runs a new instance because sometimes the user just wants to analyze some behaviors and not keep a given instance running forever.

[2017-10-05 19:04] yamalight commented on #52
@DiegoMoussallem isn't it exactly the same with editing config?

[2017-10-05 19:24] RicardoUsbeck commented on #52
The thing is, that the config file is compiled into the jar which we copy into the container. That is, we actually would need to have one docker image per language

[2017-10-06 06:47] DiegoMoussallem commented on #52
@yamalight No, It is not. At least I don't think so because when a user wants to change one of the parameters using editing config, he just changes it and compiles again maintaining the other values. By environment variables, the user has to insert all values again.

[2017-10-06 08:47] lguillou commented on #52
@DiegoMoussallem @RicardoUsbeck I originally reported the issue directly to Ricardo. At Ricardo's suggestion I followed the instructions on the Wiki to run my own webservice (i.e. running the Java directly), and Diego's suggested changes to the agdistis.properties file (nodeType, edgeType, baseURI) and was able to retrieve results for German. Initially I missed the need to set those three properti

[2017-10-06 09:21] yamalight commented on #52
@DiegoMoussallem are you sure we're talking about the same env vars?
if you use config - you need to recompile the whole thing. if you use env vars - you just need to restart the app, right? that's like 10x easier

[2017-10-06 09:25] RicardoUsbeck commented on #52
@lguillou Cool, we hope you like what you see. We will update the webservices soon.
@yamalight Can you please paste a command for running the docker with env vars so Diego sees that it is actually quite easy and we do not need 3 images but only one?

[2017-10-06 09:28] yamalight commented on #52
@RicardoUsbeck @DiegoMoussallem sure. Here's how you would configure AGDISTIS via env vars:
1. In docker:
[code]
2. Locally:
[code]

No need to re-compile and change anything in the app.

[2017-10-06 09:36] DiegoMoussallem commented on #52
@yamalight @RicardoUsbeck
Guys, I know what you are saying and we are talking about the same thing for sure. I was just wondering if a person who does not use docker and is improving Agdistis if it would be good. There was not the necessity to past code here about env variables.

Today we have more than 10 "variables", that's why I said that I was wondering if there was a better solution, not beca

[2017-10-06 09:41] yamalight commented on #52
@DiegoMoussallem @RicardoUsbeck
1) 10 vars is really not that much. I've seen apps that have 30+ config options using env vars and it was ok, nobody died :)
2) it's also fine from UX perspective, they're not that hard to set.
3) if you want better UX - you can move config to an external file (e.g. yaml, toml, etc) that is re-read on changes

IMO ability to  config using env vars should still be th

[2017-10-06 09:56] lguillou commented on #53
@RicardoUsbeck Thank you for logging this bug.

I've experimented a little more. I set the following properties in agdistis.properties to point to Chinese DPBedia:

nodeType=http://zh.dbpedia.org/resource/
edgeType=http://zh.dbpedia.org/ontology/
baseURI =http://zh.dbpedia.org

If I run the example from the Wiki:

curl --data-urlencode "text='The <entity>shanghai</entity> in <entity>北京市</entity>.'

[2017-10-06 10:01] DiegoMoussallem commented on #46
I think I have mixed to problems here. I'm gonna open another issue to handle more than one nodeType. However, I don't see it as a bug.
Download it and run pls https://drive.google.com/open?id=0BwQZNbPH4KyVRFRiZDVEZmpSZHM

[2017-10-06 13:00] DiegoMoussallem commented on #53
@RicardoUsbeck  @lguillou
This error comes from our stemming step ( see https://github.com/dice-group/AGDISTIS/blob/master/src/main/java/org/aksw/agdistis/util/Stemming.java#L91). Actually our preprocessing is able to deal with punctuations, but when AGDISTIS is not able to find any candidates in first the main search, it looks for more using surface forms search. However, if nothing is found agai

[2017-10-06 15:07] RicardoUsbeck commented on #53
I guess we will write a unit test for it and then try to find the bug. Thanks for the additional test.

[2017-10-06 15:09] RicardoUsbeck commented on #46
Thanks for the link. Can we have a unit test loading this data, indexing it and then running the query?

[2017-10-06 15:10] RicardoUsbeck opened #54 "Rename property index2 to index_context"
For better readability, rename property index2 to index_contex everywhere

[2017-10-06 15:13] RicardoUsbeck commented on #52
Okay, so in summary:
- The current docker image works only for English since the properties are compiled.
- Environment variables are good for docker.

Thus, I suggest to leave this issue open and open a new issue implementing properties as environment variables for both: running docker and running from mvn. Do you agree @DiegoMoussallem  and @yamalight ?

[2017-10-06 16:17] DiegoMoussallem opened #55 "Handle more than one URI"
make AGDISTIS be able to disambiguate more than one node type and also go through more than edge type.

[2017-10-06 16:48] yamalight commented on #52
@RicardoUsbeck sounds good to me

[2017-10-10 16:16] yamalight commented on #52
@RicardoUsbeck should I just do it? That'll probably take ~5 mins

[2017-10-10 16:30] DiegoMoussallem commented on #52
@yamalight feel free.

[2017-10-11 10:02] yamalight opened #56 "Clarify index2 naming in config"
Currently in config we have two following fields:
[code]

From name it is not clear what is `index2` and how it's used.
I'd suggest doing the following:

- [x] (short term) add comment to config file clarifying what it does
- [x] (long term) rename it to reflect its role

[2017-10-11 10:20] yamalight commented on #52
@RicardoUsbeck @DiegoMoussallem PR created. Please check the code/style/etc and merge if everything's good.

Running that branch with following config:
[code]

And requesting query from @RicardoUsbeck with curl:
[code]
Now works as expected.

[2017-10-11 11:03] RicardoUsbeck commented on #52
I will check in the upcoming days. Thanks so much!

[2017-10-12 17:56] DiegoMoussallem commented on #54
#56 something then I'm gonna close this.

[2017-10-12 17:56] #54 closed

[2017-10-26 12:54] DiegoMoussallem commented on #51
Done. Pls, check my folder on the Hobbit server.

[2017-11-02 10:16] renespeck commented on #45
Thanks for the fix, seems to work. :D

[2017-11-02 10:16] #45 closed

[2017-11-17 08:36] RicardoUsbeck opened #58 "Update docker hub image"
Hi @yamalight

I will work today on AGDISTIS/MAG and update the issues etc.

Can you afterwards please update https://hub.docker.com/r/aksw/agdistis/ ?

[2017-11-17 09:01] #52 closed

[2017-11-17 09:02] RicardoUsbeck commented on #52
I did a new clone and tested it for English
[code]
and it worked. Then I tried another language to see the environment variables working:
[code]

[2017-11-17 09:10] RicardoUsbeck commented on #47
With the latest version the outcome is:

[code]

[2017-11-17 10:51] yamalight commented on #58
@RicardoUsbeck it's autobuilds from master :)

[2017-11-17 10:51] #58 closed

[2017-11-17 12:33] #53 closed

[2017-11-17 12:34] RicardoUsbeck commented on #49
Closed by fccc311c408571e2b60b639b3ecd7ed5b0dc558e

[2017-11-17 12:34] #49 closed

[2017-11-17 13:34] RicardoUsbeck commented on #58
Is there a way to make the description more pretty?

[2017-11-17 14:11] yamalight commented on #58
@RicardoUsbeck if you tell me your hub username - I can add you as admin so you can edit it

[2017-11-17 14:22] yamalight commented on #58
on other note - shall we move the image from `aksw/AGDISTIS` to `dicegroup/AGDISTIS`?

[2017-11-17 15:04] RicardoUsbeck commented on #58
Maybe not now but as an enhancement ticket because it would break a lot of documentation and just stuff

[2017-11-17 15:06] yamalight commented on #58
We can also push image to both tags

[2017-11-17 15:07] RicardoUsbeck commented on #58
Then let's do that!

[2017-11-17 15:11] yamalight commented on #58
Done in https://github.com/dice-group/AGDISTIS/commit/2eb7b4112f949d07cf23c16eb5618160ef01884b

[2017-11-17 15:47] RicardoUsbeck opened #60 "Docker and log files"
please make sure that the newly deployed docker container on nc9 are persistent so we can use them for statistics

[2017-11-17 16:03] RicardoUsbeck commented on #50
The new web services are available here:
[code]

[2017-11-17 16:03] #50 closed

[2017-11-17 17:16] RicardoUsbeck commented on #51
See https://github.com/dice-group/AGDISTIS/wiki/6-Using-Wikidata-as-KB

[2017-11-17 17:16] RicardoUsbeck commented on #51
However the current index contains some bugs

[2017-11-19 17:16] DiegoMoussallem commented on #51
The bugs were due to the server haven't accepted the complete transfer of index's files at the first time. Pls, try again http://hobbitdata.informatik.uni-leipzig.de/agdistis/wikidata/index_wikidata_en.zip

[2017-11-21 18:26] DiegoMoussallem commented on #47
Question: Why should AGDISTIS be able to disambiguate "Germany" in the German version as the correct name is "Deutschland"?

Bug: AGDISTIS is not able to disambiguate "Germany" because  "Germany" does not appear as a country neither in German DBpedia nor [Wikipedia](https://de.wikipedia.org/wiki/Germany). It is a disambiguation page in both which actually points to many resources but none of them

[2017-11-21 18:29] RicardoUsbeck commented on #47
Well but you are right, the endpoint and task are mixed up => won't fix

[2017-11-21 18:29] #47 closed

[2017-11-24 09:49] DiegoMoussallem commented on #51
Redo the index according to Andriy:

the dumps must be gathered from here:

For instance, the latest one is:

We previously got from `http://tools.wmflabs.org/wikidata-exports/rdf/exports/20160801/dump_download.html`. Although it is the official link in the Wikidata's website, it does not reflect the online version.

[2017-11-24 10:44] RicardoUsbeck commented on #51
Will you redo it?

[2017-11-24 11:31] DiegoMoussallem commented on #51
ofc. ;)

[2017-12-15 16:00] RicardoUsbeck commented on #51
Is the new index ready for testing?

[2017-12-15 20:58] DiegoMoussallem commented on #51
Not yet.

[2018-02-12 12:40] mejohnee commented on #60
to be found on akswnc9 in  /home/JonathanEberle/agdistis/[language]/logs

[2018-02-12 15:31] RicardoUsbeck commented on #60
Great! How did you pipe them to outside the container?

[2018-02-19 17:51] RicardoUsbeck opened #62 "How to run from command line with environment variables => WIKI"
Please include in the wiki how to run by command line using environment variables without docker.

[2018-02-19 18:23] DiegoMoussallem commented on #56
improved with the new commit.

[2018-02-19 19:09] yamalight commented on #56
@DiegoMoussallem looks like this broke tests: https://gitlab.com/aksw/AGDISTIS/-/jobs/53308720

[2018-02-19 19:30] DiegoMoussallem commented on #56
I thought the problem was the one pointed by Ricardo above then I fixed it which was from indextest to index again in property files. But the error still appears. Do you have any tip @yamalight ? because If you download the code e run by maven it works and delivers the same results expected by test-docker.sh.

[2018-02-19 19:39] DiegoMoussallem commented on #56
Seems that https://gitlab.com/aksw/AGDISTIS/commits/master takes time to mirror the commits. lets see

[2018-02-19 20:29] DiegoMoussallem commented on #56
everything is ok now

[2018-02-19 20:29] #56 closed

[2018-02-19 20:55] yamalight commented on #56
looks good, thanks! 👍

[2018-02-20 14:12] DiegoMoussallem commented on #55
same as #46

[2018-02-20 14:12] #55 closed

[2018-02-28 10:11] RicardoUsbeck opened #63 "Chinese index not working"
When I use Chinses index and run the command curl --data-urlencode "text='<entity>北京</entity>和<entity>上海</entity>.'" -d type='agdistis', I got the result like the follow.

    [{"disambiguatedURL":"http:\/\/aksw.org\/notInWiki\/上海","offset":2,"namedEntity":"上海","start":10},
      {"disambiguatedURL":"http:\/\/aksw.org \/notInWiki\/北京","offset":2,"namedEntity":"北京","start":5}].

I replace the index

[2018-02-28 11:11] RicardoUsbeck commented on #63
User used maven to deploy AGDISTIS.
In the online demo this test entry works.

[2018-02-28 12:55] RicardoUsbeck commented on #63
The agdistis.properties file was wrong. here is a correct one:
[code]

[2018-02-28 12:55] #63 closed

[2018-03-01 12:36] DiegoMoussallem commented on #51
I have tried to create the Wikidata index, however, the file is really big which is more than 200GB. I tried to put in small parts but it did not work. Also, I parsed the big file but Lucene seems to have a limit number of documents. Look the error,

[code]
 Any idea how to handle it? Any Suggestions? @yamalight @RicardoUsbeck

[2018-03-15 20:49] earthquakesan opened #64 "Download button stop working"
Browser: FF Quantum 59.0

Steps to repeat:
1. Click English Example --> Get Entities --> Download
2. Click German Example --> Get Entities --> Download (will do nothing)

Response from Tomcat:
[code]

[2018-03-15 20:52] earthquakesan opened #65 "Get Entities button stop working"
Browser: FF Quantum 59.0

Steps to reproduce:
1. Click Download all 40 Languages
2. Click Demo --> French Example --> Get Entities

Tomcat response:
[code]

[2018-03-16 18:19] DiegoMoussallem commented on #64
Solved

[2018-03-16 18:19] #64 closed

[2018-03-16 18:39] DiegoMoussallem commented on #65
solved.

[2018-03-16 18:39] #65 closed

[2018-03-16 19:40] #42 closed

[2018-03-17 11:17] DiegoMoussallem opened #66 "Creation of the context index very slow."
To improve the code of context index, it is quite slow, for example, it is taking 1 full day for English.

[2018-03-17 11:57] RicardoUsbeck commented on #66
I think  we need to switch to Elastic Search (wikidata overflow issue) or to https://github.com/dice-group/autoindex soon anyway. I am currently looking for a student to do the transformation.

[2018-03-17 16:03] DiegoMoussallem commented on #66
It is an amazing idea. Maybe I have a student for that, but just from July on. Let's talk.

[2018-03-20 11:03] vdanielupb commented on #51
I get following error whith the wikidata dump. The dump seems to have invalid urls like
[/ww.nasa.gov/centers/kennedy/about/history/mercury7.html](url)

[code]

[2018-03-20 14:08] DiegoMoussallem commented on #51
Yes, @vdanielupb yes, the dump contains some problems. We are working on it, you can also download the dump from https://dumps.wikimedia.org/wikidatawiki/entities/.

[2018-04-06 18:38] DiegoMoussallem commented on #51
Fixed @RicardoUsbeck and @vdanielupb see your email.

[2018-04-06 21:15] RicardoUsbeck commented on #51
@mejohnee Can you check the new index?

[2018-06-01 07:50] #51 closed

[2018-06-20 09:47] DiegoMoussallem opened #67 "GERBIL error"
Some experiments can be completed but they still present a high number of errors.  See http://gerbil.aksw.org/gerbil/experiment?id=201806190003

I think this problem was already fixed by in @0c0f206 commit. I'm going to update the web-services.

[2018-06-24 15:17] DiegoMoussallem commented on #67
It is partially fixed, see http://gerbil.aksw.org/gerbil/experiment?id=201806200002

The problem, in fact, is the disambiguation process with overlapping entities.

[2018-06-24 15:25] DiegoMoussallem opened #68 "Heuristic Expansion, does it help or harm so far?"
Our heuristic expansion when active gives more importance to the existing entity than the new one. For example,
[code]

`Leipzig University` is disambiguated first, but when `Leipzig` comes in, the word `Leipzig` has just appeared then [M(AGDISTIS)] considers both to be the same entity, the same happens with `Saxony, Germany` and `Germany`, both are in sequence. However, while performing a disambi

[2018-06-24 15:28] DiegoMoussallem commented on #60
In the Rancher interface, there is the option to output the log to an external file.

[2018-11-20 13:27] YeDeming opened #69 "About the Wikidata and confidence level"
Hi,

Thanks a lot for opening source such a great resource. I am trying to run entity linking in Wikidata, But I met some trouble. In your document, "_Wikidata does not use rdfs:type as a property to indicate type, it uses http://www.wikidata.org/prop/direct/P31. Thus, you need to change the predicate type search in https://github.com/dice-group/AGDISTIS/blob/master/src/main/java/org/aksw/agdistis

[2018-11-20 13:47] DiegoMoussallem commented on #69
Hi @YeDeming, first of all, thank you for using our resource.

You have to change from `List tmp = index.search(candidateURL, "http://www.w3.org/1999/02/22-rdf-syntax-ns#type", null);` to `List tmp = index.search(candidateURL, "http://www.wikidata.org/prop/direct/P31", null);` and that's it.

Regarding the confidence level, we intend to implement it soon, but what you can get for a while is to the

[2018-11-23 13:50] YeDeming commented on #69
Thanks a lot!

[2018-11-23 14:08] DiegoMoussallem commented on #69
So, I'm going to close this issue.

[2018-11-23 14:08] #69 closed

[2018-11-26 14:26] webersab opened #70 "Memory Issues"
I am running AGDISTIS as a server on a machine with 72 CPUs and 315G memory. I call it by running "mvn tomcat:run". My program then sends the AGDISTIS server a sentence with annotated named entities and receives the response. When I was running this with smaller amounts of data (like a few 100 sentences) this worked fine. Now that I want to run the AGDISTIS server over a longer period, the server

[2018-11-28 17:54] DiegoMoussallem commented on #70
Hey, @webersab we realized that indices open every time while requests come in and are never closed. Please, pull the fixed code and try again.

[2018-12-04 11:04] #70 closed

[2019-02-13 14:18] khaledadel19 opened #71 "In BFS the findNode is not used (nodes always added even if already exists)"
Line 49 in BreadthFirstSearch checks for the existence of targetNode in findNode. However the key used in findNode is targetNode.getObject().
Same for line 50 in findeNode.get().

[2019-02-13 17:15] RicardoUsbeck commented on #71
Thanks for pointing out that issue. It is indeed good, that this if never worked from the beginning six years ago!

It is a bug!

We should remove 	`private static HashMap<String, Node> findNode = new HashMap<String, Node>();` completely from the class as this static hashmap screws up things when using two graphs.

[2019-02-13 17:52] DiegoMoussallem commented on #71
The nodes are always added indeed, however, it does not affect AGDISTIS's performance because of the hashmap used in `edu.uci.ics.jung.graph.DirectedSparseGraph;` replaces and not duplicates when the same node is assigned to the graph. We can do what you suggested @RicardoUsbeck , because this "static" will screw up certainly when two graphs are in the game, but we can also fix it and check if we

[2019-02-13 18:15] khaledadel19 commented on #71
Thanks for your swift responses, I actually tried to activate this part. I noted that activating this check using static, causes issues even when working with only one graph, changes on the weights from one request (during HITS) affects the consequent requests if the same node is found.

[2019-02-14 09:28] RicardoUsbeck commented on #71
Yes, that is why I would remove this HashMap and just keep the else part

[2019-03-21 12:36] vdanielupb commented on #71
should be fixed now.

[2019-04-01 05:38] RicardoUsbeck commented on #71
Can someone, maybe @DiegoMoussallem make sure we get the same results as in the latest MAG paper?

[2019-04-02 15:54] DiegoMoussallem commented on #71
Sure, I am going to check it and let you know. ;)

[2019-04-12 09:08] renespeck opened #72 "German version links"
The German endpoint seems to link always with 'http://aksw.org/notInWiki/'.

[2019-04-19 07:54] renespeck commented on #72
`curl --data-urlencode "text='<entity>Barack Obama</entity> is in <entity>Leipzig</entity>.'" -d type='agdistis' http://akswnc9.informatik.uni-leipzig.de:8114/AGDISTIS`

`[
   {
      "disambiguatedURL":"http:\/\/aksw.org\/notInWiki\/BarackObama",
      "offset":12,
      "namedEntity":"Barack Obama",
      "start":1
   },
   {
      "disambiguatedURL":"http:\/\/aksw.org\/notInWiki\/Leipzig",

[2019-04-19 08:18] RicardoUsbeck commented on #72
@renespeck or @DiegoMoussallem can you please ping Carl/Paul on Slack? I guess the wrong index is attached

[2019-04-19 10:09] DiegoMoussallem commented on #72
Hi, @renespeck and @RicardoUsbeck ,

I did it and waiting for an answer.

[2019-04-23 10:00] DiegoMoussallem commented on #72
@renespeck and @RicardoUsbeck it should be working now. Please check it.

[2019-04-23 10:02] renespeck commented on #72
Great thanks. :+1:

[2019-04-23 10:02] #72 closed

[2019-05-06 13:18] renespeck opened #73 "Runtime 2min"
Hi, for the German version, Agdistis needs up to 2min or more to process a couple of sentences. That's normal?

For a very small one, it needs betweeen 10 and 20s.

`curl -w 'Total: %{time_total}s\n' --data-urlencode "text='<entity>Barack Obama</entity> is in <entity>Leipzig</entity>.'" -d type='agdistis' http://akswnc9.informatik.uni-leipzig.de:8114/AGDISTIS
`

[2019-05-06 13:22] DiegoMoussallem commented on #73
Hey, it is not, our docker's server was struggling with memory issues some time ago. That might be the case.

[2019-05-06 13:25] renespeck commented on #73
Hi thanks for the info, so will it be fixed sooner or later?

[2019-05-06 13:27] DiegoMoussallem commented on #73
I asked Carl to have a look at it as soon as possible and I came to you with an answer.

[2019-05-23 13:44] pakaiser opened #74 "All candidates for named entity"
Request with type candidates returns to named entity all candidates, also the candidates for other marked entities.

curl --data-urlencode "text='<entity>Barack Obama</entity> visited <entity>Oracle</entity> Headquarter.'" -d type='candidates' http://akswnc9.informatik.uni-leipzig.de:8113/AGDISTIS

[
    {
        "Candidates":"[
            Candidates [StartPosition=1, Uri=http:\/\/dbpedia.org\/r

[2019-06-14 16:21] DiegoMoussallem commented on #71
Checked, the same results are obtained with this commit.

[2019-06-14 16:21] #71 closed

[2019-06-15 15:21] DiegoMoussallem commented on #67
AGDISTIS was not designed to work with overlapping entities.

[2019-06-15 15:21] #67 closed

[2019-06-15 15:25] DiegoMoussallem commented on #60
May I close this one @RicardoUsbeck

[2019-06-15 18:36] RicardoUsbeck commented on #60
I am sorry, it has to stay open, as the last log file was written in October 2018 to that folder. Please find out more first.

[2019-06-22 10:07] DiegoMoussallem commented on #74
@vdanielupb Could you take a look?

[2019-07-11 11:06] vdanielupb commented on #74
@DiegoMoussallem should be fixed with the last commit in master

[2019-08-21 12:19] RicardoUsbeck commented on #74
What is the status here?

[2019-08-26 13:46] DiegoMoussallem commented on #74
Working :)

	"Candidates": "[Candidates [StartPosition=22, Uri=http:\/\/dbpedia.org\/resource\/Githead, Score=0.017928911172473853], Candidates [StartPosition=22, Uri=http:\/\/dbpedia.org\/resource\/Oracle_Corporation, Score=0.003468671844675206], Candidates [StartPosition=22, Uri=http:\/\/dbpedia.org\/resource\/Oracle_Arena, Score=0.0034610335075038476], Candidates [StartPosition=22, Uri=http:\/\

[2019-09-02 10:58] redadmiral opened #75 "Failing disambiguation with german index"
I've experienced some problems using the german index data.

First eight unit tests fail if I run maven with the clean package arguments:

[code]

If I start the webservice without unit testing and query `url --data-urlencode "text='Die <entity>Freie Universität Berlin</entity> in <entity>Newcastle</entity>.'" -d type=agdistis localhost:8080/AGDISTIS` AGDISTIS returns only Identifier with `notInWi

[2019-09-02 11:05] DiegoMoussallem commented on #75
Hi @redadmiral , could you paste here your agdistis.properties file?

Best

[2019-09-02 11:47] redadmiral commented on #75
Hi @DiegoMoussallem, thanks for the quick answer!

[code]

[2019-09-02 11:54] DiegoMoussallem commented on #75
Hi @redadmiral ,

Please change the following aspects of this file and see if it helps

from

[code]

to:

[code]

[2019-09-02 11:59] redadmiral commented on #75
Thanks a lot, this did the trick! The unit tests are still failing but the queries are correctly disambiguated. Thanks a lot for the help!

[2019-09-02 11:59] #75 closed

[2019-09-02 12:00] DiegoMoussallem commented on #75
The tests are only for English actually, we are considering to create tests for all languages.

[2019-10-23 11:34] renespeck commented on #73
Hi, it seems that the online service produces a timeout within the FOX service (after 2 min without a response from Agdistis)

The example in the first comment needs 68s. Longer text needs much longer time.

Cheers.

[2020-01-07 17:59] #74 closed

[2020-01-07 17:59] DiegoMoussallem commented on #73
resolved?

[2020-01-09 10:52] #73 closed

[2020-02-21 14:57] RicardoUsbeck opened #76 "Fox moved"
https://fox.demos.dice-research.org/#!/home
=> change URL in the deployed demo

[2020-02-21 14:58] DiegoMoussallem commented on #76
We are moving all of our demos, so we are going to take of it as well

[2020-02-21 14:59] RicardoUsbeck commented on #76
that makes it worse, I am afraid. Will there be a redirect? All the paper links will break

[2020-02-21 15:01] DiegoMoussallem commented on #76
@bigerl he is the right person to answer your question

[2020-02-26 07:21] bigerl commented on #76
We are on it.

[2020-03-03 07:50] bigerl commented on #76
Redirection from https://fox-demo.aksw.org/ should be working now. @RicardoUsbeck please verify it and close the issue if it is fine.

[2020-03-05 10:35] RicardoUsbeck commented on #76
It works (not yet in GERBIL though) ;) Thank you

[2020-03-16 07:22] bigerl commented on #76
As far as I see it, GERBIL still runs on the AKSW address.

[2020-03-16 08:08] RicardoUsbeck commented on #76
Maybe our ol' friend @TortugaAttack has some time please?

[2020-03-16 08:25] TortugaAttack commented on #76
Can do :D
What is the API endpoint?  or is the url the also the api endpoint?
previously: `http://IP:PORT/call/ner/entities`

[2020-03-16 08:26] RicardoUsbeck commented on #76
I guess the  url is the  api endpoint

[2020-03-16 08:27] TortugaAttack commented on #76
ok, will try to squeeze it into today :)

[2020-03-16 08:31] RicardoUsbeck commented on #76
Thank you very much, really appreciate it, stay safe

[2020-03-16 23:49] TortugaAttack commented on #76
Took a while due to other non work related stuff.
URL change is commited, but will test it tomorrow before i restart Gerbil

[2020-03-17 12:24] TortugaAttack commented on #76
It is not the url.
Without the actual API URL i cannot do much :/
According to the documentation it something like https://fox.demos.dice-research.org:4444/fox
I'll try to figure the url out.

[2020-03-17 12:28] RicardoUsbeck commented on #76
@renespeck can you help?

[2020-03-17 12:35] TortugaAttack commented on #76
he already did :)

[2020-03-17 12:36] renespeck commented on #76
https://fox.demos.dice-research.org/fox

[2020-03-17 12:36] #76 closed

[2020-03-19 10:29] DiegoMoussallem commented on #66
New index was created by @vdanielupb

[2020-03-19 10:29] #66 closed

[2021-07-08 13:41] DanielSteinigen opened #78 "Each request allocates two additional threads"
Hi, we use AGDISTIS to process a series of requests and we see the behavior, that **with each request two new threads are created**, which are not closed after the request has been processed. This leads to a lot of resource allocations, so that we need to restart our application regulary.
Has anyone ever noticed that behavior or has an idea where it might come from?
Thanks.

[2021-07-08 13:49] RicardoUsbeck commented on #78
I guess it happens in https://github.com/dice-group/AGDISTIS/blob/master/src/main/java/org/aksw/agdistis/webapp/GetDisambiguation.java For example, the input streams are never closed, but cannot investigate right now.

[2021-07-08 15:14] vdanielupb commented on #78
I had a quick look over the code and I guess the problem might be, that the connection to the Lucene Index is newly loaded at each request. It is possible that the connection is not closed after the request. I have to further investigate this. The better solution is to use a singleton for the Lucene Index here.

[2021-07-08 17:11] DiegoMoussallem commented on #78
Hi guys, Sabine Weber from The University of Edinburgh noticed reported a similar issue some time ago, it was affecting her algorithm by achieving a high memory consumption (the error message that it was unable to assign memory). However, I alleviated the problem by simply closing the Lucene connection, look at here https://github.com/dice-group/AGDISTIS/commit/2685cbef5de572e8dca1ba587e954e66d4f4

[2021-07-08 17:57] vdanielupb commented on #78
Ah, yes this solves the problem partly. However you still have the problem in case of an exception. Because the index is not closed then and the method just throws the exception.
[https://github.com/dice-group/AGDISTIS/blob/4091bcc6bc8f9407740ea53bb95f7ea62673e7a2/src/main/java/org/aksw/agdistis/webapp/GetDisambiguation.java#L182](https://github.com/dice-group/AGDISTIS/blob/4091bcc6bc8f9407740ea53

[2021-07-08 18:06] RicardoUsbeck commented on #78
good catch!

[2021-07-09 13:16] DanielSteinigen commented on #78
I did some further investigations and it seems that the problam was partly caused by our own adaptions to the code, changing from Lucene to Elasticsearch Index, and partly
in https://github.com/dice-group/AGDISTIS/blob/master/src/main/java/org/aksw/agdistis/webapp/GetDisambiguation.java, where "agdistis" is not closed for all cases, e.g. if text==null or type is not in [null, "agdistis", "nif", "c

[2021-07-09 13:28] DiegoMoussallem commented on #78
Hi @DanielSteinigen, we have one Elasticsearch branch, you can make use of it, see https://github.com/dice-group/AGDISTIS/tree/elasticsearch_development.

[2021-07-14 08:18] #78 closed